<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.mapper.IArticleMapper">
    <select id="getLikeArticleByTitle" resultType="article">
        select * from tb_article
        <where>
            and title like concat('%', #{title}, '%')
        </where>
    </select>
    <select id="getArticleByCreateTimeDesc" resultType="article">
        select * from tb_article order by create_time desc limit #{count}, #{newcount}
    </select>
    <select id="getArticleByVisitorsDesc" resultType="article">
        select * from tb_article order by visitors desc limit 10
    </select>
</mapper>