<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.mapper.IPermissionMapper">
    <select id="findByRoleid" resultType="Role">
        SELECT tbr.rid,tbr.rname,tbp.pname from tb_permission tbp
INNER JOIN tb_role_perm trp ON trp.pid = tbp.pid
INNER JOIN tb_role tbr ON tbr.rid = trp.rid
WHERE tbr.rid = #{rid}
    </select>
</mapper>